
<div class="content">
  <div class=" row">

    <div class="col-md-12">
      <div class="section" id="carousel">
      <div class="main-container">
        <div class="row justify-content-center">
          <div class="col-md-12 col-lg-9">
            <ngb-carousel>
              <ng-template ngbSlide>
                <img class="d-block" src="assets/img/avion.jpg" alt="First slide">
                  <div class="carousel-caption d-none d-md-block" >
                    <h5>ajouter un titre</h5>
                  </div>
              </ng-template>
              <ng-template ngbSlide>
                <img class="d-block" src="assets/img/avion2.jpg" alt="Second slide">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>ajouter un titre</h5>
                  </div>
              </ng-template>
              <ng-template ngbSlide>
                <img class="d-block" src="assets/img/boat.jpg" alt="Third slide">
                    <div class="carousel-caption d-none d-md-block">
                    <h5>Yellowstone National Park, United States</h5>
                  </div>
              </ng-template>
            </ngb-carousel>
          </div>
        </div>
      </div>
      </div>
  <br><br><br>
  </div>

  <div class="col-md-12">
    <div class="col-md-12">
      <div class="form-group">
          <h2>Choose a means of transport</h2>
          <select multiple name="transport" [(ngModel)]="transport.transports" class="form-control">
            <option *ngFor="let p of transports" [ngValue]="t">
                {{t.nameCompany}}
            </option>
        </select>
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
          <input type="text" value="" placeholder="Reserch Name of the compagny" class="form-control" style="border-radius: 7;" />
      </div>
    </div>
  </div>

    <div class="col-md-6">
      <div class=" col-md-12">
        <div class=" card">
          <div class=" card-header">
            <h3 class=" card-title">Air Transport</h3>
          </div>

          <div class=" card-body">
            <div class=" table-responsive">
              <table class=" table tablesorter" id="">
                <thead class=" text-primary">
                  <tr>
                    <th>Airline</th>
                    <th>Airplane Class</th>
                    <th>Cost</th>
                    <th class=" text-center">Rating</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>exemple</td>
                    <td>exmple</td>
                    <td>exemple</td>
                    <td class=" text-center">exemple</td>
                  </tr>
                  <tr>
                    <td>exemple</td>
                    <td>exmple</td>
                    <td>exemple</td>
                    <td class=" text-center">exemple</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class=" card-header">
              <button class="btn btn-primary btn-round" type="button">Add a review</button>
            </div>
          </div>
      
          <div class=" card-header">
            <h3 class=" card-title">Reviews</h3>
          </div>

          <div class=" card-body">
            <div class=" table-responsive">
              <table class=" table tablesorter" id="">
                <thead class=" text-primary">
                  <tr>
                    <th>Airline</th>
                    <th >Description</th>
                    <th class=" text-center">Note</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>exemple</td>
                    <td>exemple</td>
                    <td class=" text-center">exemple</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="section" id="carousel">
        <div class="main-container">
          <div class="row justify-content-center">
            <div class="col-md-12">
              <ngb-carousel>
                <ng-template ngbSlide>
                  <img class="d-block" src="assets/img/avion.jpg" alt="First slide">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>ajouter un titre</h5>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img class="d-block" src="assets/img/avion2.jpg" alt="Second slide">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>ajouter un titre</h5>
                    </div>
                </ng-template>
              </ngb-carousel>
            </div>
          </div>
        </div>
    </div>
    </div>


    <div class=" col-md-6">
      <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h3 class=" card-title">Maritime Transport</h3>
        </div>

        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter" id="">
              <thead class=" text-primary">
                <tr>
                  <th>Name of Company</th>
                  <th>Cost</th>
                  <th>City</th>
                  <th class=" text-center">Airplane Class</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>exemple</td>
                  <td>exmple</td>
                  <td>exemple</td>
                  <td class=" text-center">exemple</td>
                </tr>
                <tr>
                  <td>exemple</td>
                  <td>exmple</td>
                  <td>exemple</td>
                  <td class=" text-center">exemple</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class=" card-header">
            <button class="btn btn-primary btn-round" type="button">Add a review</button>
          </div>
          <div class=" card-header">
            <h3 class=" card-title">Reviews</h3>
          </div>
          <div class=" card-body">
            <div class=" table-responsive">
              <table class=" table tablesorter" id="">
                <thead class=" text-primary">
                  <tr>
                    <th>Shipping companies</th>
                    <th >Description</th>
                    <th class=" text-center">Note</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>exemple</td>
                    <td>exemple</td>
                    <td class=" text-center">exemple</td>
                    

                  </tr>
                </tbody>
               </table>
             </div>
            </div>
          </div>

        
          
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="section" id="carousel">
        <div class="main-container">
          <div class="row justify-content-center">
            <div class="col-md-12">
              <ngb-carousel>
                <ng-template ngbSlide>
                  <img class="d-block" src="assets/img/boat3.jpg" alt="First slide">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>ajouter un titre</h5>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img class="d-block" src="assets/img/boat2.jpeg" alt="Second slide">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>ajouter un titre</h5>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img class="d-block" src="assets/img/boat.jpg" alt="Third slide">
                      <div class="carousel-caption d-none d-md-block">
                      <h5>Yellowstone National Park, United States</h5>
                    </div>
                </ng-template>
              </ngb-carousel>
            </div>
          </div>
        </div>
    </div>
    </div>

  </div>
  </div>



