
<div class="content">
  <div class=" row">

    <div class="col-md-12">
      <div class="section" id="carousel">
      <div class="main-container">
        <div class="row justify-content-center">
          <div class="col-md-12 col-lg-9">
            <ngb-carousel>
              <ng-template ngbSlide>
                <img class="d-block" src="assets/img/avion.jpg" alt="First slide">
                  <div class="carousel-caption d-none d-md-block" >
                    <h5>ajouter un titre</h5>
                  </div>
              </ng-template>
              <ng-template ngbSlide>
                <img class="d-block" src="assets/img/avion2.jpg" alt="Second slide">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>ajouter un titre</h5>
                  </div>
              </ng-template>
              <ng-template ngbSlide>
                <img class="d-block" src="assets/img/boat.jpg" alt="Third slide">
                    <div class="carousel-caption d-none d-md-block">
                    <h5>Yellowstone National Park, United States</h5>
                  </div>
              </ng-template>
            </ngb-carousel>
          </div>
        </div>
      </div>
      </div>
  <br><br><br>
  </div>

  <div class="col-md-12">
    <form (ngSubmit)="onSubmit()">
    <div class="col-md-12">
      <div class="form-group" >
          <h2>Search a Transport</h2>
      </div>
    </div>

    
    <div class="col-md-12">
      <div class="form-group">
          <input type="text" value="" placeholder="Reserch an Airline, a shipping company ..." class="form-control" 
          [(ngModel)]="nameCompanyAT" name="nameCompanyAT"
          [(ngModel)]="nameCompanyMT" name="nameCompanyMT"
          [(ngModel)]="nameCompany" name="nameCompany"
          />
      </div>
   
    <div class="col-md-4">
        <button class="btn btn-primary btn-round" type="submit">Rechercher</button>
    </div>
     </div>
    </form>
  </div>

    <div class="col-md-6">
      <div class=" col-md-12">
        <div class=" card">
          <div class=" card-header">
            <h3 class=" card-title">Air Transport</h3>
          </div>

          <div class=" card-body">
            <div class=" table-responsive">
              <table class=" table tablesorter" id="">
                <thead class=" text-primary">
                  <tr >
                    <th>Airline</th>
                    <th>Airplane Class</th>
                    <th>Cost</th>
                    <th class=" text-center">Rating</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let a of airTransports">
                    <td> {{a.nameCompany}} </td>
                    <td> {{a.airplaneClass}} </td>
                    <td> {{a.transportCost}} </td>
                    <td class=" text-center"> {{a.transportRating}} </td>
                  </tr>
                </tbody>
              </table>
            </div>

            
          </div>
      
          
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="section" id="carousel">
        <div class="main-container">
          <div class="row justify-content-center">
            <div class="col-md-12">
              <ngb-carousel>
                <ng-template ngbSlide>
                  <img class="d-block" src="assets/img/avion.jpg" alt="First slide">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>ajouter un titre</h5>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img class="d-block" src="assets/img/avion2.jpg" alt="Second slide">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>ajouter un titre</h5>
                    </div>
                </ng-template>
              </ngb-carousel>
            </div>
          </div>
        </div>
    </div>
    </div>


    <div class=" col-md-6">
      <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h3 class=" card-title">Maritime Transport</h3>
        </div>

        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter" id="">
              <thead class=" text-primary">
                <tr>
                  <th>Name of Company</th>
                  <th>Boat Class</th>
                  <th>Cost</th>
                  <th class=" text-center">Rating</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let a of maritimeTransports">
                  <td > {{a.nameCompany}} </td>
                  <td> {{a.boatClass}} </td>
                  <td> {{a.transportCost}} </td>
                  <td class=" text-center"> {{a.transportRating}} </td>
                </tr>
                
              </tbody>
            </table>
          </div>
          
          
          </div>

        
          
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="section" id="carousel">
        <div class="main-container">
          <div class="row justify-content-center">
            <div class="col-md-12">
              <ngb-carousel>
                <ng-template ngbSlide>
                  <img class="d-block" src="assets/img/boat3.jpg" alt="First slide">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>ajouter un titre</h5>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img class="d-block" src="assets/img/boat2.jpeg" alt="Second slide">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>ajouter un titre</h5>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img class="d-block" src="assets/img/boat.jpg" alt="Third slide">
                      <div class="carousel-caption d-none d-md-block">
                      <h5>Yellowstone National Park, United States</h5>
                    </div>
                </ng-template>
              </ngb-carousel>
            </div>
          </div>
        </div>
    </div>
    </div>

    <div class="col-md-12" style="top: 100px;" >
      <div class="col-md-12" >
            <div class="container text-center">
              <div class="row justify-content-md-center">
                  <div class="col-md-12">
                      <h1 class="title">Add Reviews</h1>
                      <h5 class="description"> Log in to add a review. </h5>
                  </div>
              </div>
            </div>
      </div>
  
      <div class="col-md-10" style=" left: 100px ">
        <div [hidden]="!authenticated()"> <!-- authenticated = true -->
          <form  (ngSubmit)="saveTransport()">
          <div class="col-md-12">
            <div class="form-group">
              <p>
                Select a transport</p>
                <select class="form-control " 
                
                [(ngModel)]="transport.nameCompany" name="nameCompany" 
                [(ngModel)]="airTransport.nameCompany" name="nameCompany" 
                [(ngModel)]="maritimeTransport.nameCompany" name="nameCompany" 
                 > 
                       
                  <option *ngFor="let p of transports" [ngValue]="p">
                    {{p.placeName}}
                  </option>
              </select>
            </div>
          </div>
  
          <div class="col-md-12">
              <div class=" card">

                <div class=" card-header">
                  <h3 class=" card-title">Rating</h3>
                  <div class="col-md-2">
                  <input type="number" 
                         value="" placeholder="Add note"
                         [(ngModel)]="transport.transportRating" name ="transportRating" 
                         [(ngModel)]="airTransport.transportRating" name ="transportRating" 
                         [(ngModel)]="maritimeTransport.transportRating" name ="transportRating" 
                         class="form-control" 
                         style="border-radius: 7;" />
                        </div>
                </div>
              
                <div class=" card-header">
                    <h3 class=" card-title">Description</h3>
                    <textarea 

                           maxlength="250"
                           value="" 
                           placeholder="Add a description" 
                           [(ngModel)]="transport.description" name ="description" 
                           [(ngModel)]="airTransport.description" name ="description" 
                           [(ngModel)]="maritimeTransport.description" name ="description" 
                           class="form-control" 
                           style="border-radius: 7;" ></textarea>
                </div>
                <br>

                <div >
                  <div class="container text-center">
                    <div class="row justify-content-md-center">
                    <button class="btn btn-primary btn-round" >Add</button>
                    </div>
                    </div>
                </div>
              </div>
          </div>
        </form>
        </div>
      </div>
  
    
      <div class="col-md-12">
        <div class="container text-center">
          <div class="row justify-content-md-center">
              <div class="col-md-12">
                 <h2 class="title">REVIEWS</h2>
              </div>
          </div>
        </div>
      </div>
  
      
      <div class="col-md-10" style=" left: 100px ">
        <div class=" col-md-12">
          <div class=" card">
            
              <table class=" table tablesorter" id="">
                <thead class=" text-primary">
                  <tr>
                    <th>Transport Company</th>
                    <th>Rating</th>
                    <th class=" text-center">Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let p of transports" [ngValue]="p">
                    <td > {{p.nameCompany}} </td>
                    <td> {{p.transportRating}} </td>
                    <td class=" text-center"
                    *ngFor="let r of reviews" [ngValue]="r"> {{p.description}} </td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
      </div>
  
      </div>

  </div>
  </div>



