<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-10">
      <div class="card">
        <div class="card-header">
          <h3   style ="text-align: center" class="title">Newsletter</h3>
        </div>
        </div>
        <div style ="text-align :center">
       <img src="assets/img/vol.jpg"alt="" style="width:400px;height:350px;">
        </div>
       <br><br>
    <div id="div2">
	<h4  style ="text-align: center" >À la une</h4>
    <p  style ="text-align: center" >En ce beau mois d'été il est important de savoir où partir en vacance</p>
    <p style ="text-align: center" >C'est pour cela que l'on vous a selectionné le travel guide le plus sollicité par nos utilisateurs</p>
								
			
        