
  <div class="content">
  <div class="row">
    <div class="col-md-12">
      <h1   style ="text-align: center; color: rgb(207, 38, 207);" class="title">Experiences</h1>
    </div>


    <div class="col-md-12">
      <div class="section" id="carousel">
      <div class="main-container">
        <div class="row justify-content-center">
          <div class="col-md-11 col-lg-3">
            <ngb-carousel>
              <ng-template ngbSlide>
                <img class="d-block" src="assets/img/vol.jpg" alt="First slide" style="width:470px;height:350px;">
                  <div class="carousel-caption d-none d-md-block">
                    
                  </div>
              </ng-template>
              <ng-template ngbSlide>
                <img class="d-block" src="assets/img/avion2.jpg" alt="Second slide" style="width:470px;height:350px;">
                  <div class="carousel-caption d-none d-md-block">
                  
                  </div>
              </ng-template>
              <ng-template ngbSlide>
                <img class="d-block" src="assets/img/boat3.jpg" alt="Second slide" style="width:470px;height:350px;">
                  <div class="carousel-caption d-none d-md-block">
                  
                  </div>
              </ng-template>
            </ngb-carousel>
          </div>
        </div>
      </div>
      </div>
  <br><br><br>
  </div>


    
    <div class="col-md-12"> 

      <div class=" card-body">
        <div [hidden]="!authenticated()"> <!-- authenticated = true -->
        <form (ngSubmit)="saveExperience()"> 
          <div class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <h4 class="sous titre"> Suggest an experience </h4>
                <br>
                <label>Description</label>
                <br><textarea maxlength="1000" style="width: 400px; height: 100px;" [(ngModel)]="experience.description" name="description"></textarea>
              </div>
            </div>
            
            <!--<div class="row" style ="position:absolute; top: 240px;">-->
              <div class="col-md-3 pr-1" style ="top: 50px; right: 50px;">
                <label>Date</label>
                <input type="date" [(ngModel)]="experience.updateExp" name="updateExp"/>
                <!--<input class="form-control" type="file" id="formFile" (change)="selectFile($event)" [(ngModel)]="experience.imageExp" name="imageExp">-->
            
              <!--</div>-->
            </div>
            </div>
            </form>
            </div>>
          </div>
          </div>
          
    <div class="col-md-12"> 
      <div [hidden]="!authenticated()"> <!-- authenticated = true -->       
      <form (ngSubmit)="saveExperience()">
             
                <div class="col-md-3 pr-1">
                  <label>Add video link</label>
                  <input type="text" [(ngModel)]="experience.urlVideoExp" name="urlVideoExp"/>
                 <label>N° Account</label>
                  <input type="text" [(ngModel)]="experience.accountExperience" name="accountExperience"/>
                 
                
              </div>
             <!-- <div class="row" style ="position:absolute; top: 440px;">-->
                <div class="col-md-2 pl-1" style ="position:absolute; top: 50px; left: 550px;">
                  <button class="btn btn-primary btn-round" >Submit</button>
               <!-- </div>-->
              </div>
              </form>
              </div>
            </div>
        </div>
</div>

<div class="content">
  <div class="row">
    <div class="col-md-10" style="bottom:10px;" >
      <h4 class="card-title"> Research Experiences</h4>
    </div>
<div class="col-md-12" style="bottom:10px;">
  <form (ngSubmit)="onSubmit()">
      <table>
          <tr>
              <td>
                  Date
              </td>
              <td>
                  <input type="date" [(ngModel)]="date" name="date"/>
              </td>
          </tr>
          
              <td colspan="2">
                  <br><button type="submit" style="border-radius: 30px;width: 140px; height: 30px; background:linear-gradient(rgb(207, 38, 207),purple); color: white;">Research</button>
              </td>
          <tr>

          </tr>
      </table>
  </form>
</div>
</div>
</div>

  <div class="content">
  <div class="row">
    <div class="col-md-10" style="bottom: 630px;" >
                <h4 class="card-title"> Users Experiences</h4>
              </div>
            
              <div class="col-md-10" style="bottom:630px;" >
                <div class="table-responsive">
                  <table class="table" >
                    <thead class=" text-primary">
                      <th>
                       Date
                      </th>
                      <th>
                        Description
                      </th>
                      <th>
                        Videos
                      </th>
                    </thead>
                  
                    <tbody>
                      <tr *ngFor="let e of experiences">
                        <td>{{e.updateExp}}</td>
                        <td>{{e.description}}</td>
                        <td>{{e.urlVideoExp}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              
              <div class="col-md-10" style="bottom: 530px;" >
                <button onclick="window.location.href='http://localhost:4200/#/travelguide';" style="width:330px; height:50px; background-color: rgb(207, 38, 207); color: aliceblue;">Click to see all our TravelGuides</button>
              </div>
             
            
          </div>
        </div>
       
        <!--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-->
      
        
  