
<div class="content">   
    <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header mb-5">
          <h3 class=" card-title">Home page</h3>
        </div>
        <div class=" card-body">
          <div class=" typography-line">
            <h1 >bestTrip</h1>
          </div>
          <div class=" typography-line">
            <p>
              <span> Welcome</span> to best trip ! Here you can find the best travel guides for your holidays, you can check the best places to visit, leave some reviews or share your experiences with us ! 
              <br>
              <br>
              <span>New here ? </span> click <button (click)="redirectToAccount()">here</button> to create an account.
              <br>
              <br>
              <span>Check our travals guides</span> click <button (click)="redirectToTravelGuides()">here</button>
              <br>
              <br>
              <span>Visit our best places</span> click <button (click)="redirectToPlace()">here</button>
              <img class="d-block" src="assets/img/boat.jpg" alt="Third slide">
            </p>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>