<div class="content">
  <div class="row">

    <div class="col-md-12">
      <div class="container text-center">
        <div class="row justify-content-md-center">
          <h1 class="title">Travel Guide</h1>
        </div> 
      </div>
    </div>
      
  
  <div class="col-md-12">
    <div class="card">
      <div class="card-header mb-5">
        <div class="typography-line">
          <h1>Research</h1>
        </div>
        <form (ngSubmit)="onSubmit()">
            <div class="col-md-12">
                  <p> Country Name :</p>
                    <input type="text" 
                    value="" 
                    placeholder="Entrer le nom d'un pays" 
                    [(ngModel)]="countryName" name="Countryname"
                    class="form-control" 
                    style="border-radius: 7;" />
                  <p> Total Cost :</p>
                  <input type="number" 
                    value="" 
                    placeholder="Entrer le coût du voyage" 
                    [(ngModel)]="totalCost" name="Totalcost"
                    class="form-control" 
                    style="border-radius: 7;" />
                
                  <p> Global Rating :</p>
                  <input type="number" 
                    value="" 
                    placeholder="Entrer le coût du voyage" 
                    [(ngModel)]="globalRating" name="globalRating"
                    class="form-control" 
                    style="border-radius: 7;" />
            
            </div>
  
            <div class=" card-header">
              <div class="container text-center">
                <div class="row justify-content-md-center">
              <button class="btn btn-primary btn-round" type="submit" >Recherche</button>
                </div>
              </div>
            </div>
          </form>
      </div>
    </div>
  </div>

  
  <br><br><br><br>
  

      <div class="col-md-12">
        <div class=" col-md-12">
          <div class=" card">
            <div class=" card-header">
              <h3 class=" card-title">Resultats de la recherche</h3>
            </div>
  
            <div class=" card-body">
              <div class=" table-responsive">
                
                <table class=" table tablesorter" id="">
                  <thead class=" text-primary">
                    <tr>
                      <th >Country Name</th>
                      <th >Total Cost</th>
                      <th >Global Rating</th>
                      <th class=" text-center">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let u of users">
                      <td>{{u.countryName}}</td>
                      <td>{{u.totalCost}}</td>
                      <td>{{u.globalRating}}</td>
                      <td class=" text-center">
                        <div class=" card-header">
                          <div class="container text-center">
                            <div class="row justify-content-md-center">
                          <button class="btn btn-primary btn-round" 
                                  type="button" 
                                  (click)="deleteTravelGuide(u.idTravelGuide)">
                                  Delete
                          </button>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

  <div class="col-md-12">
    <div class="row justify-content-md-center">
    <div class="section" id="carousel">
      <div class="main-container">
        <div class="col-md-12">
          <ngb-carousel>
            <ng-template ngbSlide>
              <img class="d-block" src="assets/img/peoplehavingfun.jpg" alt="First slide" class="">>
              <div class="carousel-caption d-none d-md-block">
                <h5>ajouter un titre</h5>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <img class="d-block" src="assets/img/vol.jpg" alt="Second slide">
              <div class="carousel-caption d-none d-md-block">
                <h5>Photos des travel guides</h5>
              </div>
            </ng-template>
          </ngb-carousel>
        </div>
      </div>
  <br><br><br><br>
  <div class="col-md-12">
    <div class="container text-center">
      <div class="row justify-content-md-center">
        <div class="form-group">
          <h2>Best travel guide</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h3 class=" card-title">Travel guide</h3>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter" id="">
              <thead class=" text-primary">
                <tr>
                  <th>Name</th>
                  <th>Rating</th>
                  <th>Cost</th>
                  <th class=" text-center">Rating</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>placeholder</td>
                  <td>placeholder</td>
                  <td>placehorder</td>
                  <td class=" text-center">exemple</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    
  </div>
</div>
</div>
          